@using Bump.Components
@model Bump.Models.MessageVM

@{
    Layout = "Components/Message/BaseMessage";
}

@*<div id="@Model.Id" class="row bump-container-m">
    <div class="col-md-2">
        @Model.Author.DisplayName
    </div>
    <div class="col-md-10">
        <p>@Model.Content</p>
        <div style="margin-top: 10px; margin-left: 5px" class="row">
            @foreach (var media in Model.Media)
            {
                <div class="image-column">
                    <div style="height: 100%; width: auto; border: 1px #ccc;">
                        @await Component.InvokeAsync(typeof(Media), new {id = media})
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row bump-container-m">
    <div>
        Votes: @Model.Votes.Count
    </div>
    <div class="centered_cont" style="width: 10px">
        <input type="image" src="add.png" style="height: 10px; width: 10px" alt="Vote up">
    </div>
    <div style="margin-left: auto">
        @Model.CreationTime.Format("Created")
    </div>
</div>*@