@using Bump.Components
@model Bump.Models.MessageVM


<div id="@Model.Id" class="row bump-container">
    <div class="col-md-2">
        <div>
            @Model.Author.UserName
        </div>
        <div>
            <button class="btn btn-outline-danger btn-sm" onclick="deleteMessage(@Model.Id , '@Url.Action("DeleteMessage", "Message")')">Delete</button>
        </div>
    </div>
    <div class="col-md-10">
        <p>@Model.Content</p>
        <div style="margin-top: 10px; margin-left: 5px" class="row">
            @foreach (var media in Model.Media)
            {
                <div class="image-column">
                    <div style="height: 100%; width: auto; border: 1px #ccc;">
                        @await Component.InvokeAsync(typeof(Media), new {id = media})
                    </div>
                </div>
            }
        </div>
    </div>
</div>