@model Bump.Models.MessageVM

<div id="@Model.Id" class="row bump-container">
    <div class="col-md-2">
        @Model.Author.UserName
        <form asp-controller="Message" asp-action="UpdateMessage">
            <div>
                <button class="btn btn-outline-primary btn-sm" type="submit" name="Id" value="@Model.Id">Edit</button>
            </div>
        </form>
        <div>
            <button class="btn btn-outline-danger btn-sm" onclick="deleteMessage(@Model.Id , '@Url.Action("DeleteMessage", "Message")')">Delete</button>
        </div>
    </div>
    <div class="col-md-10">
        <p>@Model.Content</p>
    </div>
</div>