@using Bump.Components
@using Microsoft.AspNetCore.Mvc.Localization
@model ThemeVM
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.Title;
}

<div class="bump-container-m">
    <h3>@Model.Title</h3>
</div>
<hr/>
<div class="bump-container-m">
    <div>
        <p>@Model.Content</p>
    </div>
    <div class="row">
        <div>
            @Localizer["Participants"] @Model.Messages.Select(it => it.Author.Id).Distinct().Count()
        </div>
        <div style="width: max-content; margin-left: auto">
            @Model.StartTime.Format(Localizer["Started"].Value)
        </div>
    </div>
</div>
<hr/>
<div class="bump-container-m">
    <h4>@Localizer["Discussion"]</h4>
</div>
<hr/>
@if (Model.Messages.Count > 0)
{
    @foreach (var message in Model.Messages.SkipLast(1))
    {
        @await Component.InvokeAsync(typeof(Message), new {message = message})
        <hr/>
    }
    @await Component.InvokeAsync(typeof(Message), new {message = Model.Messages.Last()})
}
else
{
    <div class="bump-container-m">
        <p>No messages yet</p>
    </div>
}